<!DOCTYPE html>
<html ng-app="app">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=0.8">

<title>Thermodynamik</title>

<link href="../lib/boot/css/bootstrap4.min.css" rel="stylesheet">
<link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<!-- <script type="text/x-mathjax-config">
   MathJax.Hub.Config({
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
       inlineMath: [['$','$'], ['\\(','\\)']],
       displayMath: [ ['$$','$$'], ['\[','\]'], ['\begin{align*}', '\end{align*}'] ]
       },
     TeX: {
       TagSide: "left",
       Macros: {
         R: '{\\mathbb R}',
         N: '{\\mathbb N}',
         Z: '{\\mathbb Z}',
         Q: '{\\mathbb Q}',
         C: '{\\mathbb C}',
         K: '{\\mathbb K}',
         scalprod: ['{\\langle #1, #2 \\rangle}', 2],
         norm: ['{||#1||}', 1],
         Rang: '{\\mathrm{Rang}}',
         de: '{\\mathrm d}',
         set: ['{\\{#1\\}}', 1],
         End: ['{\\mathrm{End(#1)}}', 1],
         Hom: ['{\\mathrm{Hom(#1)}}', 1],
         Im: ['{\\mathrm{Im(#1)}}', 1],
         Ker: ['{\\mathrm{Ker(#1)}}', 1]
       },
       equationNumbers: {
         autoNumber: "AMS"
       }
     }
   });
</script>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->

<link href="../lib/katex/katex.min.css" rel="stylesheet">
<script src="../lib/katex/katex.min.js"></script>
<script src="../lib/katex/auto-render.min.js"></script>

<script src="../lib/angular/angular.min.js"></script>
<script src="../lib/angular-katex/angular-katex.min.js"></script>
<script src="app.js"></script>
<script src="../lib/service/data.service.controller.js"></script>
<script src="main.controller.js"></script>

<style>
  .katex-display {
    text-align: left;
    margin: 0;
  }
  .premise {
    width: 8px;
    height: 8px;
    margin: 4px auto;
    border-radius: 50px;
    background-color: green;
  }
  .premise:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  .cell {
    height: 50px;
    /*border-bottom: 1px solid;*/
  }
  .cell .katex-display {
    text-align: center;
  }
</style>
</head>
<body class="">

<main class="mb-2" ng-controller="thermoViewController">

 <div class="container-fluid2">
  <h1 class="text-center m-3">{{data.lectureName}}</h1>
  
  <!-- <div class="settings card">
     <div class="card-block">
        <div class="form-group row">
           <div class="col-12">
              <input class="form-control" type="text" placeholder="search" ng-model="searchInput">
           </div>
        </div>
        <div class="form-group row">
           <label class="col-sm-4" for="">Show Hide</label>
           <div class="col-sm-8">
              <div class="form-check">
                 <label for="" class="form-check-label">
                    <div class="btn-group btn-group-vertical" role="group">
                       <div class="btn-group" role="group">
                          <button type="button" class="btn btn-secondary" ng-click="show.chapters()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          <button type="button" class="btn btn-secondary" ng-click="hide.chapters()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                       </div>
                       <div class="btn-group btn-group" role="group">
                          <button type="button" class="btn btn-secondary" ng-click="show.subchapters()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          <button type="button" class="btn btn-secondary" ng-click="hide.subchapters()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                       </div>
                       <div class="btn-group btn-group" role="group">
                          <button type="button" class="btn btn-secondary" ng-click="show.theorems()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          <button type="button" class="btn btn-secondary" ng-click="hide.theorems()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                       </div>
                    </div>
                 </label>
              </div>
           </div>
        </div>
        <div class="form-group row">
           <label class="col-sm-4" for="">Show</label>
           <div class="col-sm-8">
             <div class="form-check">
               <label for="" class="form-check-label">
                 <div class="btn-group btn-group-vertical" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-secondary" ng-click="show.chapters()">Chapters</button>
                   <button type="button" class="btn btn-secondary" ng-click="show.subchapters()">Subchap.</button>
                   <button type="button" class="btn btn-secondary" ng-click="show.theorems()">Theorems</button>
                 </div>
               </label>
             </div>
           </div>
           </div>
           <div class="form-group row">
           <label class="col-sm-4" for="">Hide</label>
           <div class="col-sm-8">
             <div class="form-check">
               <label for="" class="form-check-label">
                 <div class="btn-group btn-group-vertical" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-secondary" ng-click="hide.chapters()">Chapters</button>
                   <button type="button" class="btn btn-secondary" ng-click="hide.subchapters()">Subchap.</button>
                   <button type="button" class="btn btn-secondary" ng-click="hide.theorems()">Theorems</button>
                 </div>
               </label>
             </div>
           </div>
           </div>
        <div class="form-group row">
           <label class="col-sm-7">Summary</label>
           <div class="col-sm-3">
              <div class="form-check">
                 <label class="form-check-label">
                 <input class="form-check-input" type="checkbox" ng-model="userSettings.showTheoremSummary">
                 </label>
              </div>
           </div>
        </div>
        <div class="form-group row">
           <label class="col-sm-7">Color</label>
           <div class="col-sm-3">
              <div class="form-check">
                 <label class="form-check-label">
                 <input class="form-check-input" type="checkbox" ng-model="userSettings.colorTheorems">
                 </label>
              </div>
           </div>
        </div>
        <div class="form-group row">
           <label class="col-sm-7">Show Identifier</label>
           <div class="col-sm-3">
              <div class="form-check">
                 <label class="form-check-label">
                 <input class="form-check-input" type="checkbox" ng-model="userSettings.showTheoremIdentifier">
                 </label>
              </div>
           </div>
        </div>
        <div class="form-group row">
           <label class="col-sm-7">Advanced</label>
           <div class="col-sm-3">
             <div class="form-check">
               <label class="form-check-label">
                 <input class="form-check-input" type="checkbox" ng-model="userSettings.showAdvancedSettings">
               </label>
             </div>
           </div>
           </div>
     </div>
     <div class="card-block" ng-hide="!userSettings.showAdvancedSettings">
        <div class="form-group row">
           <label class="col-sm-7">Show Naturalness</label>
           <div class="col-sm-3">
             <div class="form-check">
               <label class="form-check-label">
                 <input class="form-check-input" type="checkbox" ng-model="userSettings.showTheoremNaturalness">
               </label>
             </div>
           </div>
           </div>
     </div>
  </div> -->

  <main class="row2">

   <div class="col-lg-2"></div>

   <div class="col-lg-8 container" ng-show="hasAllSources">

    <div class="mb-5">
      <h4>Grössen</h4>
      <div class="row" ng-repeat="(variableSign, variable) in data.variables" ng-click="variable.show=variable.show?false:true">
        
        <div class="col-sm-1">
          <span class="pull-right">
            <i class="fa fa-chevron-{{variable.show?'down':'right'}}" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-sm-1a">
        </div>
        <div class="col-sm-11">
          <span>${{variable.tex}}$</span>
          <span>{{variable.name}}</span>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10 row mt-1 mb-3" ng-show="variable.show">
          
          <div class="col-sm-6">
            <!-- <div class="mb-2">Definitions</div> -->
            <div class="row" ng-repeat="definition in variable.definitions">
              <div class="col-sm-2">
                <div class="premise text-success" ng-repeat="premise in definition.premises" title="{{data.premises[premise].name}}"></div>
              </div>
              <div class="col-sm-10">
                <span>{{definition.name}}</span>
                <span>$${{definition.tex}}$$</span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="mb-2">Differentials</div>
            <div class="mb-2 row" ng-repeat="differential in variable.differentials">
              <div class="col-sm-2">
                <div class="premise text-success" ng-repeat="premise in differential.premises" title="{{data.premises[premise].name}}"></div>
              </div>
              <div class="col-sm-10">
                <span>{{differential.name}}</span>
                <span>$${{differential.tex}}$$</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="mb-5">
      <h4>Zustandsfunktionstabelle</h4>
      <div class="mb-5">
        <select name="" id="" class="form-control" ng-model="tableVariable" ng-change="renderMath()">
          <option value="{{variable}}" ng-repeat="variable in tableVariables">{{variable}}</option>
        </select>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="cell"></div>
          <div class="cell" ng-repeat="combination in tableData[tableVariable]['T'].combinationArray">
            <div>$$ \mathrm{X} = {{combination.combination.join(", ")}}$$</div>
          </div>
        </div>
        <div class="col-sm-2" ng-repeat="diffVariable in tableData[tableVariable]">
          <div class="cell" ng-bind="diffVariable.baseTex"></div>
          <div class="cell text-center" ng-repeat="combination in diffVariable.combinationArray">
            <div class="" ng-show="combination.isInvalidCombination">-</div>
            <div ng-hide="combination.isInvalidCombination">$$ {{combination.tex}} $$</div>
          </div>
        </div>
      </div>
    </div>

   </div>

   <div class="col-lg-8 text-center ng-hide" ng-hide="hasAllSources">
     Sources missing!
   </div>

   <div class="col-lg-2"></div>

  </main>
 </div>

</main>

<script>
setTimeout(renderMath, 100);

function renderMath()
{
  renderMathInElement(document.body, {
    delimiters : [
      {left: "$$", right: "$$", display: true},
      {left: "$", right: "$", display: false},
      {left: "\\[", right: "\\]", display: true},
      {left: "\\(", right: "\\)", display: false}
    ],
    macros: {
      "\\d": "\\mathrm{d}"
    }
  });
}

function renderMathWithDelay()
{
  setTimeout(renderMath,10);
}
</script>

<script src="../lib/jquery/jquery-2.1.0.min.js"></script>
<script src="../lib/boot/js/bootstrap.min.js"></script>

</body>
</html>