
<style>
  /*@import url("../linalg/__/css/main.css");*/
</style>

<script type="text/ng-template" id="renderer.html">
  
  <div ng-if="!element.content" class="theorem card ml-md-4 mb-2 card-outline-{{strings.theoremColors[element.type_id]}} type-{{element.type_id}}" ng-show="userSettings.showType[element.type_id]"><div class="card-block">
    <div class="clickable row" ng-click="element.show=element.show?false:true">
      <div class="col-sm-12">
        <!-- <i class="fa fa-chevron-{{element.show?'down':'right'}}" aria-hidden="true"></i> -->
        <!-- <span class="text-capitalize">{{dataService.types_of_theorems[element.type_id].type}} {{element.lecture_note_id}} </span> -->
        <span class="text-capitalize">{{getElementType(element.type_id)}} {{element.lecture_note_id}} </span>
        <span ng-show="element.name">
          <span>(</span><katex bind="element.name" auto-render></katex><span>)</span>
        </span>
        <span ng-show="element.summary||element.definesObject.join(', ')">
          <span> - </span><katex bind="element.summary||element.definesObject.join(', ')" auto-render></katex>
        </span>
        <span class="pull-right" ng-show="false"></span>
      </div>
    </div>
    <div class="mt-3 ml-md-3 ng-hide" ng-show="element.show" >
      <!-- <div class="theorem-summary" latex-preview content="element.tex"></div> -->
      <div class="theorem-summary">
        <katex bind="element.tex" auto-render></katex>
        <div ng-show="element.isTheorem"><a href="detail/{{element.id}}">Mehr Info</a></div>
      </div>
      <div><!-- Beweis --></div>
    </div>
  </div></div>
  
  <div ng-if="element.content">
    <div class="mt-4 mb-1 clickable" ng-click="element.show=element.show?false:true" ng-show="userSettings.showChapters">
      <span class="h{{2*element.number.split('.').length+1}}">{{element.number}} {{getChapterTitleByNumber(element.number)}}</span>
    </div>
    <div class="" ng-show="!element.show||!userSettings.showChapters">
        <div ng-repeat="element in element.content" ng-include="'renderer.html'"></div>
    </div>
  </div>
  
</script>

<div class="settings card">
   <div class="card-block">
      <div class="form-group row">
         <div class="col-12">
            <input class="form-control" type="text" placeholder="search" ng-model="searchInput">
         </div>
      </div>
      <div class="form-group row">
         <label class="col-sm-12" for="">Show specific Types</label>
         <div class="col-sm-2"></div>
         <div class="col-sm-10">
            <div class="form-group row">
               <label class="col-sm-7">Definitions</label>
               <div class="col-sm-3">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" ng-model="userSettings.showType['6']">
                    </label>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-7">Theorems</label>
               <div class="col-sm-3">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" ng-model="userSettings.showType['1']">
                    </label>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-7">Propositions</label>
               <div class="col-sm-3">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" ng-model="userSettings.showType['2']">
                    </label>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-7">Lemmata</label>
               <div class="col-sm-3">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" ng-model="userSettings.showType['3']">
                    </label>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-7">Korollar</label>
               <div class="col-sm-3">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" ng-model="userSettings.showType['4']">
                    </label>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-7">Axioms</label>
               <div class="col-sm-3">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" ng-model="userSettings.showType['5']">
                    </label>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- <div class="form-group row">
         <label class="col-sm-7">Show specific Type</label>
         <div class="col-sm-3">
            <div class="form-check">
               <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.colorTheorems">
               </label>
            </div>
         </div>
      </div> -->
      <div class="form-group row">
         <label class="col-sm-7">Show Chapters</label>
         <div class="col-sm-3">
            <div class="form-check">
               <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.showChapters">
               </label>
            </div>
         </div>
      </div>
      <!-- <div class="form-group row">
         <label class="col-sm-7">Advanced</label>
         <div class="col-sm-3">
           <div class="form-check">
             <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.showAdvancedSettings">
             </label>
           </div>
         </div>
         </div> -->
   </div>
   <div class="card-block" ng-hide="!userSettings.showAdvancedSettings">
      <!-- <div class="form-group row">
         <label class="col-sm-7">Show Naturalness</label>
         <div class="col-sm-3">
           <div class="form-check">
             <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.showTheoremNaturalness">
             </label>
           </div>
         </div>
         </div> -->
   </div>
</div>

<div class="row h100 w100 pt-5 p-md-4abc">
  <div class="col-xs-0 col-md-2"></div>
  <div class="card-container col-xs-12 col-md-8">

    <!-- <h1 class="text-center">Analysis</h1> -->
  
    <div class="pt-5">
      <div ng-repeat="element in elements" ng-include="'renderer.html'"></div>
    </div>

  </div>
  <div class="col-xs-0 col-md-2"></div>
</div>

<style>
  

</style>
