<ul class="list-group">
  <li class="list-group-item justify-content-between" ng-repeat="value in values">
    <div class="col-sm-10">
      <!-- <small class="form-text text-muted mb-2">{{properties.name}} {{element.number}} - {{element.note}}</small> -->
      <div ng-transclude ng-init="element=value.originalObject"></div>
    </div>
    <button class="btn btn-danger pull-right" type="button" ng-click="removeItem(value)">&ndash;</button>
  </li>
  <li class="list-group-item justify-content-between" ng-show="itemIsPreviewed">
    <div class="col-sm-10">
      <small class="form-text text-muted mb-2">Preview</small>
      <span class="text-muted" latex-preview content="searchInput"></span>
    </div>
  </li>
  <li class="list-group-item justify-content-between">
    <div class="input-group dropdown col-sm-11 show">
      <div class="input-group margin-bottom-sm">
        <input type="search" class="form-control" id="new.input.premise.new" placeholder="{{placeholderText}}" ng-model="searchInput" ng-change="searchInputWasChanged()" ng-focus="searchInputWasFocused()" ng-blur="searchInputWasBlurred()">
        <span class="input-group-addon" ng-click="clearSearchInput()"><i class="fa fa-times-circle fa-fw ng-hide" ng-show="searchInput||dropdownIsVisible" aria-hidden="true"></i></span>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" ng-show="dropdownIsVisible&&!itemIsPreviewed&&useExistingData">
        <div class="dropdown-item" href="#" ng-click="createNewItemWasClicked()" ng-hide="!useNewData">{{addNewText}}</div>
        <div class="dropdown-item" href="#" ng-repeat="element in data | filter:searchInput as results" ng-click="dropdownItemWasClicked(element)">
          <!-- {{x.tex}} -->
          <div ng-transclude></div>
        </div>
        <div class="dropdown-item ng-hide text-muted" ng-disabled href="#" ng-show="results.length==0&&!useNewData">{{noSearchResultsText}}</div>
      </div>
    </div>
    <button class="btn btn-primary col-sm-1" type="button" ng-hide="!useNewData" ng-click="addNewItem()">+</button>
  </li>
</ul>