<table class="table table-borderless" ng-if="statements.length != 0 && premises.length != 0">
  <thead>
    <tr>
      <th></th>
      <th ng-repeat="premise in premises">V{{$index+1}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="statement in statements">
      <th scope="row">A{{$index+1}} folgt aus</th>
      <td class="{{elementClass(premise.id, statement.id)}}" ng-repeat="premise in premises" ng-click="elementWasClicked(premise.id, statement.id)"></td>
    </tr>
  </tbody>
</table>

<!-- <table class="table table-borderless" ng-if="statements.length != 0 && premises.length != 0">
  <thead>
    <tr>
      <th></th>
      <th ng-repeat="x in premises">V{{x.number}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="y in statements">
      <th scope="row">A{{y.number}} folgt aus</th>
      <td class="{{elementClass(x.number, y.number)}}" ng-repeat="x in premises" ng-click="elementWasClicked(x.number, y.number)"></td>
    </tr>
  </tbody>
</table> -->