<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">

  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../favicon.ico"> -->

  <base href="/projects/eth/ana/">

  <title>Analysis</title>
  
  <!-- Angular -->
  <script src="../lib/angular/angular.min.js"></script>
  <script src="../lib/angular-hotkeys/hotkeys.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-touch.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-sanitize.min.js"></script>

  <!-- Latex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css">
  <script src="config/katex.config.js"></script>
  <script src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML&delayStartupUntil=configured"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/contrib/auto-render.min.js"></script>
  <script src="../lib/angular-katex/angular-katex.js"></script>

  <!-- Other Frameworks -->
  <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">

  <script src="../lib/jquery/jquery-2.1.0.min.js"></script>
  <script src="../lib/tether/tether.min.js"></script>

  <script src="../lib/boot4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../lib/boot4/css/bootstrap.min.css">

  <script src="../lib/vis/vis.js"></script>
  <link rel="stylesheet" href="../lib/vis/vis.css">

  <!-- Source -->
  <script src="app.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="__/css/btn-inverse.css">
  <link rel="stylesheet" href="__/css/main.css">

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//janiks.me/other/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '5']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
</head>
<body>

<header ng-controller="navigationViewController">
  <nav class="nav navbar navbar-toggleable-md sticky-top navbar-light" ng-hide="hideNavigation" style="background-color: rgba(255, 255, 255, .9);">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar" style="width:auto" ng-click="alert('hi')">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0 text-center justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="study"  data-toggle="collapse" data-target=".navbar-collapse">Study</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="list"  data-toggle="collapse" data-target=".navbar-collapse">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="graph"  data-toggle="collapse" data-target=".navbar-collapse">Graph</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="settings"  data-toggle="collapse" data-target=".navbar-collapse">Settings</a>
        </li>
      </ul>
    </div>
  </nav>
  <div ng-show="hideNavigation" class="externalLinkContainer picbuttonContainer">
    <div class="p-1" ng-click="reload()">
      <i class="fa fa-refresh picbutton" aria-hidden="true"></i>
    </div>
  </div>
  <div ng-show="hideNavigation" class="externalLinkContainer picbuttonContainer" style="top: auto; bottom: 10px;">
    <a ng-href="//janiks.me{{subdirectory}}" target="_blank">
      <i class="fa fa-play picbutton" aria-hidden="true"></i>
    </a>
  </div>
</header>

<main class="mainAppWrapper">
  <views class="h100" ng-cloak ng-view>
  </views>
</main>

<script>
  console.log(window.location);
</script>

<style>
.picbuttonContainer {
  position: fixed; 
  top: 10px; 
  right: 10px; 
  z-index: 2000;
}
.picbutton {
  font-size: 20px; 
  color: rgba(64,64,64,0.5);
  cursor: pointer;
}
.picbutton:active {
  color: rgba(64,64,64,1);
}
</style>

</body>

</body>
</html>