/*
 * Copyright (c) 2017 Janik S
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE. 
 */

html,body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #333;
  font-style: normal;
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";/*"Helvetica Neue","Helvetica","Verdana","Arial","Lucida Grande","sans-serif"*/
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  height: 100%;
}

input, textarea {
  /*width: 100%;*/
}

textarea {
  height: 100%;
}

.borderless,
.borderless > *,
.table-borderless,
.table-borderless th,
.table-borderless td {
  border: none;
  border-color: transparent;
}



input.form-control::-webkit-input-placeholder {
  font-weight: 300;
  color: rgba(170,170,170,1);
}

button {
  cursor: pointer;
  outline: none!important;
  box-shadow: none;
}

.MathJax_CHTML {
  outline: none;
}

.w100 {
  width: 100%;
}

.h100, .fill {
  height: 100%;
}

#MathJax_Message {
  display: none!important;
}


.btn-inverse:active {
  background-color: white;
}

h3, h5,
.h3, .h5 {
  display: inline-block;
  font-weight: 400;
}

.mainAppWrapper {
  height: 100%;
}

header {
  height: 0;
}

/*@media (min-width: 992px) {
  .mainAppWrapper {
    height: -moz-calc(100% - 60px);
    height: -o-calc(100% - 60px);
    height: -ms-calc(100% - 60px);
    height: calc(100% - 60px);
  }
}
*/

@media (max-width: 991px) {
  .settings {
    display: none;
  }
}

.settings {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(-95%, -50%);
  /*margin-left: -400px;*/
  z-index: 10;
  transition: margin-left 300ms, transform 300ms;
}

.settings:hover {
  transform: translate(0%, -50%);
}

.nav {
  background-color: rgba(255, 255, 255, .9);
}


/*
select {
  -webkit-appearance: none;
     -moz-appearance: none;
       -o-appearance: none;
          appearance: none;
}*/

