/*
 * Copyright (c) 2017 Janik S
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE. 
 */

 
.dropdown-menu {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px
}

.dropdown-item > div {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%; 
  max-width: 2000px;
  white-space: nowrap;
}

.dropdown-item {
	cursor: pointer;
}

.input-group-addon {
	background-color: white;
}

.input-group-addon {
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

input:focus + .input-group-addon {
  border-color: #5cb3fd;
  /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;*/
}

.input-group > input:first-child {
	border-right: none;
}

.theoremsBox {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 500px;
  margin-left: -450px;
  z-index: 1001;
  transition: margin-left 300ms, opacity 300ms;
  background-color: rgba(255,255,255,0.95);
  border-right: solid 1px rgba(64,64,64,0.5);
  overflow-y: scroll;
  opacity: 0.4;
}

.theoremsBox:hover {
  margin-left: 0;
  opacity: 1;
}
