<div class="container-fluid"><div class="row">

  <div class="theoremsBox h100 p-4">

    <h2 js="title" class="text-center mb-4">Sätze</h2>

    <div class="mb-3">
      <input class="form-control" type="text" placeholder="search" ng-model="searchInput">
    </div>

    <div class="p-0">

      <div class="ml-2a row" ng-repeat="theorem in data.theorems | filter:searchInput as results" title="{{theorem.tex}}" ng-click="loadTheorem(theorem.id)">
        <div class="col-sm-2">
          <span>{{theorem.lecture_note_id}}</span>
        </div>
        <!-- <div class="col-sm-1">
          <span>{{theorem.type}}</span>
        </div> -->
        <div class="col-sm-9">
          <a href="?theoremId={{theorem.id}}"><katex bind='theorem.name || theorem.summary || theorem.tex.substr(0,40) + "..."' auto-render></katex></a>
          <!-- <a href="?theoremId={{theorem.id}}">{{theorem.name || theorem.summary || theorem.tex.substr(0,40) + "..."}}</a> -->
        </div>
        <div class="col-sm-1">
          <i class="fa fa-check ng-hide" aria-hidden="true" ng-show="!theorem.name&&!theorem.summary"></i>
        </div>
      </div>
      
    </div>

  </div>

  <div class="col-sm-1 col-md-2"></div>

  <div class="col-sm-11 col-md-8 mb-5">

    <h2 js="title" class="text-center mb-5">
      <span>Satz bearbeiten</span>
    </h2>

    <div class="text-center text-muted" ng-show="!form.theorems.tex">
      Select a theorem from left          
    </div>

    <div ng-show="form.theorems.tex">

      <div class="form-group row">
        <label for="new.input.type" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <katex bind="form.theorems.tex" auto-render></katex>
        </div>
      </div>

      <hr class="mt-5 mb-5">

      <div class="form-group row {{userFeedback.type_id.classLabel}}">
        <label for="new.input.type_id" class="col-lg-2 col-form-label">Typ</label>
        <div class="col-lg-10">
          <select class="custom-select" id="new.input.type_id" ng-model="form.theorems.type_id">
            <option value="1" selected>Satz</option>
            <option value="2">Proposition</option>
            <option value="3">Lemma</option>
            <option value="4">Korollar</option>
            <option value="5">Axiom</option>
          </select>
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.type_id.message">{{userFeedback.type_id.message}}</div>
        </div>
      </div>

      <div class="form-group row {{userFeedback.name.classLabel}}">
        <label for="new.input.name" class="col-lg-2 col-form-label">Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="Falls der Satz nach jemandem oder etwas benannt ist, z.B. Bolzano-Weierstrass" ng-model="form.theorems.name">
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.name.message">{{userFeedback.name.message}}</div>
        </div>
      </div>

      <div class="form-group row {{userFeedback.summary.classLabel}}">
        <label for="new.input.summary" class="col-lg-2 col-form-label">Übersicht</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="Eine kurze Zusammenfassung der Satz-Aussage" ng-model="form.theorems.summary">
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.summary.message">{{userFeedback.summary.message}}</div>
        </div>
      </div>
      
      <div class="form-group row {{userFeedback.lecture_note_id.classLabel}}">
        <label for="new.input.scriptId" class="col-lg-2 col-form-label">Skript ID</label>
        <div class="col-lg-10">
          <input type="text" class="form-control form-control-danger" placeholder="Numerischer Identifier, z.B. 3.46" ng-model="form.theorems.lecture_note_id">
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.lecture_note_id.message">{{userFeedback.lecture_note_id.message}}</div>
        </div>
      </div>

      <div class="form-group row {{latexLabelIsUnique?'':'has-danger'}}">
        <label for="new.input.latexLabel" class="col-lg-2 col-form-label">Latex Label</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="" ng-model="form.theorems.latex_label" ng-change="latexLabelInputWasChanged()">
          <div class="form-control-feedback" ng-hide="latexLabelIsUnique">Label existiert bereits.</div>
        </div>
      </div>

      <!-- <div class="form-group row {{userFeedback.lecture_note_chapter.classLabel}}">
        <label for="new.input.chapter" class="col-lg-2 col-form-label">Kapitel</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="Z.B 3.5" ng-model="form.theorems.lecture_note_chapter">
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.lecture_note_chapter.message">{{userFeedback.lecture_note_chapter.message}}</div>
        </div>
      </div> -->

      <div class="form-group row {{userFeedback.chapter_id.classLabel}}">
        <label for="new.input.chapter_id" class="col-lg-2 col-form-label">Kapitel</label>
        <div class="col-lg-10">
          <select class="custom-select" ng-model="form.theorems.chapter_id" ng-change="renderLectureUrl()">
            <option value="{{chapter.id}}" ng-repeat="chapter in data.chapters">{{chapter.number}} {{chapter.title}}</option>
          </select>
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.chapter_id.message">{{userFeedback.chapter_id.message}}</div>
        </div>
      </div>

      <div class="form-group row {{userFeedback.importance.classLabel}}">
        <label for="new.input.importance" class="col-lg-2 col-form-label">Wichtigkeit</label>
        <div class="col-lg-10">
          <select class="custom-select" id="new.input.importance" ng-model="form.theorems.importance">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.importance.message">{{userFeedback.importance.message}}</div>
        </div>
      </div>

      <div class="form-group row {{userFeedback.lecture_id.classLabel}}">
        <label for="new.input.lecture_id" class="col-lg-2 col-form-label">Vorlesung</label>
        <div class="col-lg-10">
          <select class="custom-select" ng-model="form.theorems.lecture_id" ng-change="renderLectureUrl()">
            <option value="{{lecture.id}}" ng-repeat="lecture in data.lectures">Vorlesung {{lecture.id}}, {{lecture.lecture_date}}</option>
            <!-- <optgroup label="Analysis I"> -->
          </select>
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.lecture_id.message">{{userFeedback.lecture_id.message}}</div>
        </div>
      </div>

      <div class="form-group row {{userFeedback.video_position.classLabel}}">
        <label for="new.input.videoPosition" class="col-lg-2 col-form-label">Video Position</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" placeholder="XXmXXs" ng-model="form.theorems.video_position" ng-change="renderLectureUrl()">
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.video_position.message">{{userFeedback.video_position.message}}</div>
        </div>
        <div class="col-lg-2"></div>
        <iframe style="width:100%; height:400px;" class="col-lg-10 mt-3" src="{{lectureUrl}}" frameborder="0" allowfullscreen ng-hide="!form.theorems.lecture_id"></iframe>
      </div>

      <hr class="mt-5 mb-5">

      <!-- <h3>Voraussetzungen</h3> -->

      <div class="form-group row">
        <label for="new.input.proof.tex" class="col-lg-2 col-form-label">Tex</label>
        <div class="col-lg-5">
          <textarea type="text" class="form-control fill" placeholder="" ng-model="form.theorems.tex"></textarea> 
        </div>
        <div class="col-lg-5 pt-sm-4 pt-lg-1">
          <katex bind="form.theorems.tex" auto-render></katex>
        </div>
      </div>

      <hr class="mt-5 mb-5">

      <!-- <div class="form-group row {{userFeedback.premises.classLabel}}">
        <label for="" class="col-xl-2 col-form-label">Voraussetzungen</label>
        <div class="col-xl-10">
          <element-directive name="Voraussetzung" data="newTheoremService.data.patterns" type="new_and_existing" ng-model="form.premises">
            <div class="">
              <div><small class="text-muted">{{$parent.element.lecture_note_id || ""}}</small> </div>
              <div>{{$parent.element.tex}}</div>
            </div>
          </element-directive>
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.premises.message">{{userFeedback.premises.message}}</div>
        </div>
      </div>

      <hr class="mt-5 mb-5">

      <div class="form-group row {{userFeedback.statements.classLabel}}">
        <label for="" class="col-xl-2 col-form-label">Aussagen</label>
        <div class="col-xl-10">
          <element-directive name="Aussage" data="newTheoremService.data.patterns" type="new_and_existing" ng-model="form.statements">
            <div>{{$parent.element.tex}}</div>
          </element-directive>
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.statements.message">{{userFeedback.statements.message}}</div>
        </div>
      </div>

      <hr class="mt-5 mb-5">

      <div class="form-group row {{userFeedback.premises_to_statements.classLabel}}">
        <label for="inputEmail5" class="col-xl-2 col-form-label">Voraussetzungen zu Aussagen</label>
        <div class="col-xl-7">
          <element-matrix-directive statements="form.statements" premises="form.premises" ng-model="form.premises_to_statements"></element-matrix-directive>
          <div class="form-control-feedback ng-hide" ng-show="userFeedback.premises_to_statements.message">{{userFeedback.premises_to_statements.message}}</div>
        </div>
      </div>

      <hr class="mt-5 mb-5"> -->

      <!-- <h3>Beweis</h3> -->

      <div class="form-group row">
        <label for="new.input.proof.tex" class="col-xl-12 col-form-label">Beweis</label>
        <div class="col-lg-5">
          <textarea type="text" class="form-control fill" placeholder="" ng-model="form.proofs.tex"></textarea> 
        </div>
        <div class="col-lg-7 pt-sm-4 pt-lg-1" id="proofPreview">
          <katex bind="form.proofs.tex" auto-render></katex>
        </div>
      </div>

      <div class="form-group row">
        <label for="new.input.proof.idea" class="col-xl-2 col-form-label">Beweisidee</label>
        <div class="col-xl-10">
          <textarea type="text" class="form-control" placeholder="" ng-model="form.proofs.short"></textarea> 
        </div>
      </div>

      <div class="form-group row">
        <label for="new.input.proof.newLinkedTheorem" class="col-xl-2 col-form-label">Im Beweis verwendete Sätze</label>
        <div class="col-xl-10">
          <element-directive data="data.theorems" type="existing" hide-add-new-option="true" ng-model="form.linkedTheorems">
            <div class="">
              <div><small class="text-muted">{{$parent.element.lecture_note_id}}</small> </div>
              <div>
                <katex bind='$parent.element.name || $parent.element.summary || $parent.element.tex.substr(0,80) + "..."' auto-render></katex>
              </div>
            </div>
          </element-directive>
        </div>
      </div>

      <div class="form-group row">
        <label for="new.input.proof.newLinkedTheorem" class="col-xl-2 col-form-label">Im Beweis verwendete Definitionen</label>
        <div class="col-xl-10">
          <element-directive data="data.definitions" type="existing" ng-model="form.linkedDefinitions">
            <div class="">
              <div><small class="text-muted">{{$parent.element.lecture_note_id}}</small> </div>
              <div title="{{$parent.element.name || $parent.element.summary || $parent.element.definesObject.join(",")}}">
                <katex bind='$parent.element.name || $parent.element.summary || $parent.element.definesObject.join(",") || $parent.element.tex.substr(0,80) + "..."' auto-render></katex>
              </div>
            </div>
          </element-directive>
        </div>
      </div>

      <!-- <hr class="mt-5 mb-5">

      <div class="form-group row">
        <label for="new.input.proof.newLinkedTheorem" class="col-xl-2 col-form-label">Bemerkungen</label>
        <div class="col-xl-10">
          <element-directive data="data.theorems" type="new" ng-model="form.notes">
            <div class="">
              <div>{{$parent.element.tex}}</div>
            </div>
          </element-directive>
        </div>
      </div> -->

      <div class="form-group row mt-5">
        <div class="col-sm-4">
          <button class="btn btn-secondary" ng-click="showPrevious()">Previous</button>
        </div>
        <div class="col-sm-4 text-center">
          <button class="btn btn-primary btn-inverse btn-{{requestStatus.done?(requestStatus.success?'success':'danger'):'primary'}}" ng-disabled="newTheoremService.isInProgress" ng-click="save()">
            <span>Satz ändern</span>
            <i class="fa fa-spinner fa-spin ml-1" aria-hidden="true" ng-hide="!newTheoremService.isInProgress"></i>
            <i class="fa fa-check text-success2" aria-hidden="true" ng-show="requestStatus.done&&requestStatus.success"></i>
            <i class="fa fa-times text-danger2" aria-hidden="true" ng-show="requestStatus.done&&!requestStatus.success"></i>
          </button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-secondary pull-right" ng-click="showNext()">Next</button>
        </div>
      </div>

      <div class="form-group row" ng-show="requestStatus.done&&!requestStatus.success&&requestStatus.userMessage">
        <div class="col-sm-12 text-center">
          <!-- <div class="card card-inverse card-{{requestStatus.success?'success':'danger'}} text-center">
            <div class="card-block">
              <h3 class="text-white">{{requestStatus.userHeading || "Eingabe ist fehlgeschlagen"}}</h3>
              <blockquote class="card-blockquote">
                <p>{{requestStatus.userMessage}}</p>
                <footer></footer>
              </blockquote>
            </div>
          </div> -->
          <!-- <hr class="mt-5 mb-5"> -->
          <div class="card card-outline-{{requestStatus.success?'success':'danger'}} text-center">
            <div class="card-block">
              <h3 class="text-{{requestStatus.success?'success':'danger'}}">{{requestStatus.userHeading}}</h3>
              <blockquote class="card-blockquote">
                <p>{{requestStatus.userMessage}}</p>
                <footer></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>

  <div class="col-md-2"></div>
  
</div></div>