<div class="arrow-container pull-left" ng-click="showPreviousItem()">
  <div><i class="fa fa-angle-left" aria-hidden="true"></i></div>
</div>
<div class="arrow-container pull-right" ng-click="showNextItem()">
  <div><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>

<div class="pt-5 row w100 h100" ng-swipe-left="showNextItem()" ng-swipe-right="showPreviousItem()" ng-click="toggleView()"><div class="col-1 col-md-2"></div><div class="card-container col-10 col-md-8">

  <div class="card-wrapper">

    <span ng-hide="!showProgress||queueIsEmpty" class="ng-hide text-muted pull-right">{{index}}/{{queueLength}}</span>

    <div class="question card borderless" ng-hide="showResult">
      <div class="card-block">
        <div class="row mb-1">
          <h5 class="col-sm-12 text-center">
            <span>{{currentData.questionTitle}}</span>
          </h5>
        </div>
        <div class="">
          <katex bind="currentData.questionBody" auto-render></katex>
          <ul>
            <li class="capitalize" ng-repeat="element in currentData.questionList track by $index">
              <katex bind="element" auto-render></katex>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="solution card borderless ng-hide" ng-show="showResult">
      <div class="card-block">
        <div class="row mb-1">
          <h5 class="col-sm-12 text-center">
            <span>{{currentData.answerTitle}}</span>
          </h5>
        </div>
        <div>
          <katex bind="currentData.answerBody" auto-render></katex>
        </div>
      </div>
    </div>

  </div>

</div><div class="col-1 col-md-2"></div></div>

<style>

.arrow-container {
  position: absolute;
  height: 100%;
  margin: 0 20px;
  font-size: 100px;
  color: rgba(64, 64, 64, 1);
  cursor: pointer;
  opacity: 0.5;
  z-index: 10;
  /*padding-top: 30%;*/
  transition: opacity 300ms;
}
.arrow-container:hover {
  opacity: 1;
}
.arrow-container > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.arrow-container.pull-right {
  right: 0;
}
.card-container {
  padding: 10px;
  overflow: scroll;
  /*overflow-y: hidden;*/
}
.card-wrapper {
  /*padding-top: 30%;*/
  position: relative;
  /*top: 50%;
  transform: translateY(-50%);*/
}
@media (max-width: 768px) {
  .arrow-container {
    /*display: none;*/
    font-size: 70px;
  }
  .card-wrapper {
    top: 0%;
    transform: translateY(0%);
  }
}
.card {
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}
.card.question {
  /*margin-bottom: 100%;*/
}
.capitalize:first-letter {
  text-transform: capitalize;
}
</style>
