<div class="row h100 w100 py-5">
  <div class="col-xs-0 col-md-2"></div>
  <div class="card-container col-xs-12 col-md-8 pt-3"><div class="p-3">

    <h3 class="text-center">{{theoremObject.theorem.type}} {{theoremObject.theorem.lecture_note_id}} </h3>
    <h4 class=""><katex bind="theoremObject.theorem.name" auto-render></katex></h4>
  
    <div class="pt-5">

      <div class="pt-3">
        <!-- <h6>Aussage</h6> -->
        <div>
          <h6 style="display:inline;">
            <span>{{theoremObject.theorem.type}} {{theoremObject.theorem.lecture_note_id}}</span>
            <span ng-show="theoremObject.theorem.name">(<katex bind="theoremObject.theorem.name" auto-render></katex>)</span>
          </h6>
          <katex bind="theoremObject.theorem.tex" auto-render></katex>
        </div>
      </div>

      <!-- <div class="pt-3" ng-show="theoremObject.theorem.summary">
        <h6>Zusammenfassung</h6>
        <div><katex bind="theoremObject.theorem.summary" auto-render></katex></div>
      </div>
      <div class="pt-3" ng-show="theoremObject.proofs[0].short">
        <h6>Beweisidee</h6>
        <div><katex bind="theoremObject.proofs[0].short" auto-render></katex></div>
      </div> -->
      <div class="pt-3" ng-show="theoremObject.linkedTheorems.length > 0">
        <h6>Beweis verwendet</h6>
        <div><ul>
          <li ng-repeat="theorem in theoremObject.linkedTheorems">
            <a href="detail/{{theorem.id}}">
              <span>{{dataService.types_of_theorems[theorem.type_id]}}</span> 
              <span>{{theorem.lecture_note_id || "Link"}}</span>
            </a>
            <katex bind='theorem.name || theorem.summary || theorem.tex.substr(0,40) + "..."' auto-render></katex>
          </li>
        </ul></div>
      </div>

      <div class="pt-3">
        <!-- <h6>Video</h6> -->
        <div>Dieser Satz wurde am {{theoremObject.lecture.lecture_date}} besprochen.</div>
        <div><iframe style="width:100%; height:400px;" class="col-lg-10 mt-lg-2" src="{{theoremObject.theorem.lectureUrl}}" frameborder="0" allowfullscreen></iframe></div>
      </div>

      <hr class="mt-5 mb-5">
      <div class="pt-3" ng-show="theoremObject.proofs[0].tex">
        <!-- <h6>Beweis</h6> -->
        <div>
          <h6 style="display:inline;">Beweis</h6>
          <katex bind="theoremObject.proofs[0].tex" auto-render></katex>
        </div>
      </div>
    </div>

  </div></div>
  <div class="col-xs-0 col-md-2"></div>
</div>