html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

[hidden] {
    display: none;
}


body {
    color: #444;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-size: 100% 100%; 
    background-repeat: no-repeat;

    /*font-family: Helvetica Neue, Helvetica;*/
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

a {
    color: #15C;
    text-decoration: none;
    cursor: pointer;
    vertical-align:baseline;
    background:transparent;
}

a:hover,
a:active {
    text-decoration: underline;
    outline: 0;
}

ul {
    list-style-type: none;
    cursor: default;
}

li {
    float: left;
}

table {
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}



article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*
 
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
 
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
 
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
 
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
 
h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}
 
h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

b,
strong {
    font-weight: bold;
}
 
blockquote {
    margin: 1em 40px;
}*/