html, body {
  height: 100%;
}

body {
  color: rgb(64, 64, 64);
  color: black;
  font-weight: 300;
  font-size: 18px;
  min-width: 372px;
}

h1 {
  margin-bottom: 80px;
}

.main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main h4 {
  margin: 40px 0 20px 0;
}



.main .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.main h2 {
  font-weight: 300;
  margin-bottom: 50px;
}
.main .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}



footer {
  min-height: 60px;
}

footer, footer a , footer a:hover {
  color: rgb(180, 180, 180);
  font-size: 15px;
}

footer ul li:first-child {
  padding-bottom: 50px;
}

@media (max-width: 576px) {
  footer li {
    margin-left: 17%;
  }
}

@media (min-width: 576px) {
  footer ul li:first-child {
    padding-right: 50px;
    padding-bottom: 0;
  }
  footer .pull-left {
    float: left;
  }
  footer .pull-right {
    float: right;
  }
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  padding: 18px 20px;
}
