body {
  /*padding: 30px;*/
  padding: 0; }

h1, .h1 {
  margin-bottom: 50px; }

h3, h5,
.h3, .h5 {
  display: inline-block;
  font-weight: 400; }

#MathJax_Message {
  display: none; }

i.fa.fa-chevron-down,
i.fa.fa-chevron-right {
  font-size: 12px;
  cursor: pointer;
  width: 10px;
  vertical-align: 17%;
  display: none; }

.clickable {
  cursor: pointer;
  /*margin-bottom: 10px;*/ }

.theorem .badge {
  /*display: none;*/ }

.content {
  margin: 10px; }

.mjx-chtml {
  outline: none; }

@media (max-width: 991px) {
  .leftBox {
    display: none; } }

.leftBox > div {
  position: absolute;
  width: 100%;
  height: 100%; }

.leftBox > div > .card {
  position: fixed;
  /*width: 100%;
  height: 100%;*/ }

.chapter {
  margin-bottom: 10px; }

.subchapter {
  margin-bottom: 20px; }

.subchapters {
  /*margin-left: 20px;*/
  margin-bottom: 15px; }

.theorem-list {
  margin-bottom: 10px; }

.theorem {
  /*margin-left: 25px;*/
  margin-bottom: 10px; }

.theorem-summary {
  margin-top: 10px;
  /*margin-left: 18px;*/
  white-space: pre-wrap;
  line-height: 30px; }

.indentTheorems .type-definition {
  margin-left: 25px; }

.indentTheorems .type-theorem,
.indentTheorems .type-satz,
.indentTheorems .type-notiz {
  margin-left: 40px; }

.indentTheorems .type-proposition,
.indentTheorems .type-lemma,
.indentTheorems .type-korollar,
.indentTheorems .type-bemerkung {
  margin-left: 55px; }
