
<style>

</style>

<div class="row h100 w100 m-0 p-md-4">
  <div class="col-xs-0 col-md-2"></div>
  <div class="card-container pt-5 h100a col-xs-12 col-md-8">

    <h1 class="text-center">Settings</h1>
  
    <div class="card2">
      <div class="card-block">

        <!-- <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="userSettings.catalogOnly">
            Study catalog only
          </label>
        </div> -->

        <div class="form-group">
          <label for="exampleSelect1">Study chapter</label>
          <select class="form-control" id="exampleSelect1" ng-model="userSettings.studyChapter">
            <option value="">All</option>
            <option ng-repeat="chapter in chapters | filter: chapterFilter" value="{{chapter.number}}">{{chapter.number}} {{chapter.title}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">Study type</label>
          <select class="form-control" id="exampleSelect1" ng-model="userSettings.studyType">
            <option value="">All</option>
            <option value="def">Definitions</option>
            <option value="theorem">Theorems</option>
            <!-- <option value="theorem">Theorems - Catalog only</option> -->
            <!-- <option value="proof">Proofs</option> -->
          </select>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="userSettings.randomOrder">
            Random order
          </label>
        </div>

        <!-- <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="userSettings.skipStudied">
            Skip already studied flashcards
          </label>
          <button class="btn btn-secondary pull-right" ng-click="resetMemory()">Reset Memory</button>
        </div> -->

        <div class="form-check mt-5">
          <button class="btn btn-secondary" ng-click="resetSettings()">Reset Settings</button>
        </div>

        <!-- <div class="form-check mt-5">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="userSettings.showAdvancedSettings">
            Advanced
          </label>
        </div> -->

        <!-- <div class="form-group row">
          <label class="col-sm-7">Advanced</label>
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"">
              </label>
            </div>
          </div>
        </div> -->

      </div>
      <div class="card-block ng-hide" ng-show="userSettings.showAdvancedSettings&&false">

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Show edit button for each flashcard
          </label>
        </div>

        <div class="form-check">
          <button class="btn btn-secondary" ng-click="restoreDefaults()">Restore Default</button>
        </div>
        
      </div>
    </div>

  </div>
  <div class="col-xs-0 col-md-2"></div>
</div>
