<div class="settings card" ng-hide="hideNavigation">
   <div class="card-block">

      <div class="form-group row">
         <label class="col-sm-6">Layout</label>
         <div class="col-sm-6">
            <div class="form-check">
               <select class="form-control" ng-model="userSettings.layout">
                 <option value="0">Random</option>
                 <option value="1">By Connections</option>
                 <option value="2">By Chapter</option>
                 <option value="3">By Direction</option>
               </select>
            </div>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-sm-6">Chapter</label>
         <div class="col-sm-6">
            <div class="form-check">
               <select class="form-control" ng-model="userSettings.chapter">
                  <option value="">All</option>
                  <option ng-repeat="chapter in chapters | filter: chapterFilter" value="{{chapter.number}}">{{chapter.number}} {{chapter.title}}</option>
               </select>
            </div>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-sm-7">Show Arrows</label>
         <div class="col-sm-3">
            <div class="form-check">
               <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.showArrows">
               </label>
            </div>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-sm-7">Hide Unconnected</label>
         <div class="col-sm-3">
            <div class="form-check">
               <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.hideUnconnected">
               </label>
            </div>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-sm-7">Hide Induction</label>
         <div class="col-sm-3">
            <div class="form-check">
               <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.hideInduction">
               </label>
            </div>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-sm-7">Scale Dot Size</label>
         <div class="col-sm-3">
            <div class="form-check">
               <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.scaleDotSize">
               </label>
            </div>
         </div>
      </div>
      
      <div class="form-group row">
         <label class="col-sm-6"></label>
         <div class="col-sm-6">
          <a ng-click="picturizeGraph($event)">
            <button class="btn btn-secondary">Save Graph</button>
          </a>
         </div>
      </div>
      <!-- <div class="form-group row">
         <label class="col-sm-7">Color Catalog</label>
         <div class="col-sm-3">
            <div class="form-check">
               <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.colorCatalog">
               </label>
            </div>
         </div>
      </div> -->

   </div>
   <div class="card-block" ng-hide="!userSettings.showAdvancedSettings">
      <!-- <div class="form-group row">
         <label class="col-sm-7">Show Naturalness</label>
         <div class="col-sm-3">
           <div class="form-check">
             <label class="form-check-label">
               <input class="form-check-input" type="checkbox" ng-model="userSettings.showTheoremNaturalness">
             </label>
           </div>
         </div>
         </div> -->
   </div>
</div>

<div class="w100 h100">
<!-- <button class="btn btn-secondary pull-right" ng-click="printGraph()">Print Graph</button> -->
  <div id="mynetwork" class="w100 h100">
    

  </div>
</div>

<style>
.vis-network {
  outline: none!important;
}
</style>