<!DOCTYPE html>
<html ng-app="app">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=0.8">

<!-- <link rel="icon" href="../favicon.ico"> -->
<title>Lineare Algebra</title>

<!-- Bootstrap core CSS -->
<link href="../lib/boot/css/bootstrap4.min.css" rel="stylesheet">
<link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__/css/main.css">

<script type="text/x-mathjax-config">
   MathJax.Hub.Config({
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
       inlineMath: [['$','$'], ['\\(','\\)']],
       displayMath: [ ['$$','$$'], ['\[','\]'], ['\begin{align*}', '\end{align*}'] ]
       },
     TeX: {
       TagSide: "left",
       Macros: {
         R: '{\\mathbb R}',
         N: '{\\mathbb N}',
         Z: '{\\mathbb Z}',
         Q: '{\\mathbb Q}',
         C: '{\\mathbb C}',
         K: '{\\mathbb K}',
         scalprod: ['{\\langle #1, #2 \\rangle}', 2],
         norm: ['{||#1||}', 1],
         Rang: '{\\mathrm{Rang}}',
         de: '{\\mathrm d}',
         set: ['{\\{#1\\}}', 1],
         End: ['{\\mathrm{End(#1)}}', 1],
         Hom: ['{\\mathrm{Hom(#1)}}', 1],
         Im: ['{\\mathrm{Im(#1)}}', 1],
         Ker: ['{\\mathrm{Ker(#1)}}', 1]
       },
       equationNumbers: {
         autoNumber: "AMS"
       }
     }
   });
</script>
<!-- MathJax -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<!-- <script src="//code.angularjs.org/snapshot/angular.min.js"></script> -->
<script src="../lib/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="main.controller.js"></script>
<script src="../lib/service/data.service.controller.js"></script>
<!-- <script src="element.directive.js"></script>
   <script src="elementMatrix.directive.js"></script>
   <script src="newTheorem.service.js"></script> -->
</head>
<body class="p-md-4">

<main ng-controller="mainController">

   <div class="container-fluid">
      <h1 class="text-center">{{data.lectureName}}</h1>
      <div class="settings card">
         <div class="card-block">
            <div class="form-group row">
               <div class="col-12">
                  <input class="form-control" type="text" placeholder="search" ng-model="searchInput">
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-4" for="">Show Hide</label>
               <div class="col-sm-8">
                  <div class="form-check">
                     <label for="" class="form-check-label">
                        <div class="btn-group btn-group-vertical" role="group">
                           <div class="btn-group" role="group">
                              <button type="button" class="btn btn-secondary" ng-click="show.chapters()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                              <button type="button" class="btn btn-secondary" ng-click="hide.chapters()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                           </div>
                           <div class="btn-group btn-group" role="group">
                              <button type="button" class="btn btn-secondary" ng-click="show.subchapters()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                              <button type="button" class="btn btn-secondary" ng-click="hide.subchapters()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                           </div>
                           <div class="btn-group btn-group" role="group">
                              <button type="button" class="btn btn-secondary" ng-click="show.theorems()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                              <button type="button" class="btn btn-secondary" ng-click="hide.theorems()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                           </div>
                        </div>
                     </label>
                  </div>
               </div>
            </div>
            <!-- <div class="form-group row">
               <label class="col-sm-4" for="">Show</label>
               <div class="col-sm-8">
                 <div class="form-check">
                   <label for="" class="form-check-label">
                     <div class="btn-group btn-group-vertical" role="group" aria-label="Basic example">
                       <button type="button" class="btn btn-secondary" ng-click="show.chapters()">Chapters</button>
                       <button type="button" class="btn btn-secondary" ng-click="show.subchapters()">Subchap.</button>
                       <button type="button" class="btn btn-secondary" ng-click="show.theorems()">Theorems</button>
                     </div>
                   </label>
                 </div>
               </div>
               </div>
               <div class="form-group row">
               <label class="col-sm-4" for="">Hide</label>
               <div class="col-sm-8">
                 <div class="form-check">
                   <label for="" class="form-check-label">
                     <div class="btn-group btn-group-vertical" role="group" aria-label="Basic example">
                       <button type="button" class="btn btn-secondary" ng-click="hide.chapters()">Chapters</button>
                       <button type="button" class="btn btn-secondary" ng-click="hide.subchapters()">Subchap.</button>
                       <button type="button" class="btn btn-secondary" ng-click="hide.theorems()">Theorems</button>
                     </div>
                   </label>
                 </div>
               </div>
               </div> -->
            <div class="form-group row">
               <label class="col-sm-7">Summary</label>
               <div class="col-sm-3">
                  <div class="form-check">
                     <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" ng-model="userSettings.showTheoremSummary">
                     </label>
                  </div>
               </div>
            </div>
            <!-- <div class="form-group row">
               <label class="col-sm-7">Indent</label>
               <div class="col-sm-3">
                 <div class="form-check">
                   <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" ng-model="userSettings.indentTheorems">
                   </label>
                 </div>
               </div>
               </div> -->
            <div class="form-group row">
               <label class="col-sm-7">Color</label>
               <div class="col-sm-3">
                  <div class="form-check">
                     <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" ng-model="userSettings.colorTheorems">
                     </label>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-7">Show Identifier</label>
               <div class="col-sm-3">
                  <div class="form-check">
                     <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" ng-model="userSettings.showTheoremIdentifier">
                     </label>
                  </div>
               </div>
            </div>
            <!-- <div class="form-group row">
               <label class="col-sm-7">Advanced</label>
               <div class="col-sm-3">
                 <div class="form-check">
                   <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" ng-model="userSettings.showAdvancedSettings">
                   </label>
                 </div>
               </div>
               </div> -->
         </div>
         <div class="card-block" ng-hide="!userSettings.showAdvancedSettings">
            <!-- <div class="form-group row">
               <label class="col-sm-7">Show Naturalness</label>
               <div class="col-sm-3">
                 <div class="form-check">
                   <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" ng-model="userSettings.showTheoremNaturalness">
                   </label>
                 </div>
               </div>
               </div> -->
         </div>
      </div>
      <main class="row">

         <div class="col-lg-2"></div>

         <div class="col-lg-8 container {{userSettings.indentTheorems?'indentTheorems':''}}">
            <div class="chapter" ng-repeat="chapter in data.chapters">
               <div class="clickable" ng-click="chapter.hide=chapter.hide?false:true">
                  <i class="fa fa-chevron-{{chapter.hide?'right':'down'}}" aria-hidden="true"></i>
                  <h3>{{chapter.number}} {{chapter.name}}</h3>
               </div>
               <div class="subchapters ml-md-3" ng-hide="chapter.hide">
                  <div class="subchapter" ng-repeat="subchapter in chapter.chapters">
                     <div class="clickable" ng-click="subchapter.hide=subchapter.hide?false:true">
                        <i class="fa fa-chevron-{{subchapter.hide?'right':'down'}}" aria-hidden="true"></i>
                        <h5>{{subchapter.number}} {{subchapter.name}}</h5>
                     </div>
                     <div class="theorem-list" ng-hide="subchapter.hide">
                        <div class="theorem card ml-md-4 card-outline-{{userSettings.colorTheorems?theoremColors[theorem.type]:''}} type-{{theorem.type}}" ng-repeat="theorem in subchapter.content | filter:searchInput as results">
                           <div class="card-block">
                              <div class="clickable row" ng-click="theorem.hide=theorem.hide?false:true">
                                 <div class="col-sm-12">
                                    <i class="fa fa-chevron-{{theorem.hide?'right':'down'}}" aria-hidden="true"></i>
                                    <span ng-hide="!userSettings.showTheoremIdentifier">{{subchapter.number}}.{{$index+1}}</span>
                                    <span class="text-capitalize">{{theorem.type}} {{theorem.number}}</span>
                                    <span ng-hide="!theorem.name"> ({{theorem.name}})</span>
                                    <span ng-show="theorem.type&&theorem.summary">:</span>
                                    <span ng-hide="!theorem.summary||!userSettings.showTheoremSummary">{{theorem.summary}}</span>
                                    <span class="badge pull-right badge-{{userSettings.colorTheorems?theoremColors[theorem.type]:'default'}}" ng-hide="!userSettings.showTheoremNaturalness">{{theorem.naturalness}}</span>
                                    <span class="pull-right mx-1" ng-show="theorem.isInSummary"><i class="fa fa-heart text-{{userSettings.colorTheorems?theoremColors[theorem.type]:''}}" aria-hidden="true" title="Ist in der offiziellen Zusammenfassung enthalten"></i></span>
                                    <span class="pull-right mx-1" ng-show="theorem.requiresFiniteDimension"><i class="fa fa-fire text-{{userSettings.colorTheorems?theoremColors[theorem.type]:''}}" aria-hidden="true" title="Benötigt endliche Dimensionalität, z.B. einen endlichdimensionalen Vektorraum."></i></span>
                                    <!-- <i class="fa fa-star bd-callout text-danger pull-right" aria-hidden="true"></i> -->
                                 </div>
                              </div>
                              <div class="theorem-summary ml-md-3" ng-hide="(theorem.hide&&!searchInput)||!theorem.content" ng-bind-html="safeHTML(theorem.content)"></div>
                           </div>
                        </div>
                        <div class="card-block" ng-hide="subchapter.content.length!=0">
                           <div class="clickable row" ng-click="theorem.hide=theorem.hide?false:true">
                              <div class="col-sm-12">
                                 <i class="fa fa-chevron-{{theorem.hide?'right':'down'}}" aria-hidden="true"></i>
                                 <span>No entries yet</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-2"></div>

      </main>
   </div>

</main>

<script src="../lib/jquery/jquery-2.1.0.min.js"></script>
<script src="../lib/boot/js/bootstrap.min.js"></script>

</body>
</html>