<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">

  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../favicon.ico"> -->

  <title>New | Analysis</title>

  <!-- Bootstrap core CSS -->
  <link href="../../lib/boot4/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="../../lib/boot/css/bootstrap4.min.css" rel="stylesheet">
 -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../lib/boot/css/add/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../lib/boot/css/add/theme.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../lib/boot/assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.min.css">

  <!-- custom css -->
  <link rel="stylesheet" href="../__/css/main.css">
  <link rel="stylesheet" href="../__/css/btn-inverse.css">
  <link rel="stylesheet" href="../__/css/new.css">
  
  <!-- katex  -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha384-dq1/gEHSxPZQ7DdrM82ID4YVol9BYyU7GbWlIwnwyPzotpoc57wDw/guX8EaYGPx" crossorigin="anonymous"></script> -->

  <!-- MathJax -->
  <script src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script src="../config/mathjax.config.js"></script>
  
  <!-- Angular -->
  <script src="../../lib/angular/angular.min.js"></script>

  <script src="new.app.js"></script>
  <script src="controller/new.controller.js"></script>
  <script src="directive/element.directive.js"></script>
  <script src="../directive/latexPreview.directive.js"></script>
  <script src="directive/elementMatrix.directive.js"></script>
  <script src="../service/database.service.js"></script>
  <script src="../service/data.service.js"></script>
  <script src="../service/sendMail.service.js"></script>
  <script src="service/newTheorem.service.js"></script>
  <script src="../service/latex.service.js"></script>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//js.vsos.ethz.ch/other/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '5']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code -->
</head>
<body>

<main>
  <new-theorem ng-controller="newTheoremController" ng-cloak>
    <div class="container-fluid"><div class="row">

      <div class="theoremsBox h100 p-4">

        <h2 js="title" class="text-center mb-4">Sätze</h2>

        <div class="mb-3">
          <input class="form-control" type="text" placeholder="search" ng-model="searchInput">
        </div>

        <div class="p-0">

          <div class="ml-2a row" ng-repeat="theorem in newTheoremService.data.theorems | filter:searchInput as results" title="{{theorem.tex}}" ng-click="loadTheorem(theorem)">
            <div class="col-sm-2">
              <span>{{theorem.lecture_note_id}}</span>
            </div>
            <!-- <div class="col-sm-1">
              <span>{{theorem.type}}</span>
            </div> -->
            <div class="col-sm-10">
              <a href="">{{theorem.name||theorem.tex.substr(0,40) + "..."}}</a>
            </div>
            <div class="col-sm-0">
              <i class="fa fa-check ng-hide" aria-hidden="true"></i>
            </div>
          </div>
          
        </div>

      </div>

      <div class="col-md-2"></div>

      <div class="col-xs-12 col-md-8">

        <h2 js="title" class="text-center mb-5">
          <span ng-show="editMode">Satz bearbeiten</span>
          <span ng-hide="editMode">Neuen Satz erstellen</span>
        </h2>

        <div class="form-group row" ng-show="editMode">
          <label for="new.input.type" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10" latex-preview content="form.theorems.tex">
          </div>
        </div>

        <hr class="mt-5 mb-5" ng-show="editMode">

        <div class="form-group row {{userFeedback.type.classLabel}}">
          <label for="new.input.type" class="col-sm-2 col-form-label">Typ</label>
          <div class="col-sm-10">
            <select class="custom-select" id="new.input.type" ng-model="form.theorems.type">
              <option value="1" selected>Satz</option>
              <option value="2">Proposition</option>
              <option value="3">Lemma</option>
              <option value="4">Korollar</option>
              <option value="5">Axiom</option>
            </select>
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.type.message">{{userFeedback.type.message}}</div>
          </div>
        </div>

        <div class="form-group row {{userFeedback.name.classLabel}}">
          <label for="new.input.name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Falls der Satz nach jemandem oder etwas benannt ist, z.B. Bolzano-Weierstrass" ng-model="form.theorems.name">
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.name.message">{{userFeedback.name.message}}</div>
          </div>
        </div>

        <div class="form-group row {{userFeedback.summary.classLabel}}">
          <label for="new.input.summary" class="col-sm-2 col-form-label">Übersicht</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Eine kurze Zusammenfassung der Satz-Aussage" ng-model="form.theorems.summary">
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.summary.message">{{userFeedback.summary.message}}</div>
          </div>
        </div>
        
        <div class="form-group row {{userFeedback.lecture_note_id.classLabel}}">
          <label for="new.input.scriptId" class="col-sm-2 col-form-label">Skript ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-danger" placeholder="Numerischer Identifier, z.B. 3.46" ng-model="form.theorems.lecture_note_id">
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.lecture_note_id.message">{{userFeedback.lecture_note_id.message}}</div>
          </div>
        </div>

        <div class="form-group row {{latexLabelIsUnique?'':'has-danger'}}">
          <label for="new.input.latexLabel" class="col-sm-2 col-form-label">Latex Label</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="" ng-model="form.theorems.latex_label" ng-change="latexLabelInputWasChanged()">
            <div class="form-control-feedback" ng-hide="latexLabelIsUnique">Label existiert bereits.</div>
          </div>
        </div>

        <div class="form-group row {{userFeedback.lecture_note_chapter.classLabel}}">
          <label for="new.input.chapter" class="col-sm-2 col-form-label">Kapitel</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Z.B 3.5" ng-model="form.theorems.lecture_note_chapter">
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.lecture_note_chapter.message">{{userFeedback.lecture_note_chapter.message}}</div>
          </div>
        </div>

        <div class="form-group row {{userFeedback.importance.classLabel}}">
          <label for="new.input.importance" class="col-sm-2 col-form-label">Wichtigkeit</label>
          <div class="col-sm-10">
            <select class="custom-select" id="new.input.importance" ng-model="form.theorems.importance">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.importance.message">{{userFeedback.importance.message}}</div>
          </div>
        </div>

        <div class="form-group row {{userFeedback.lecture_id.classLabel}}">
          <label for="new.input.lecture" class="col-sm-2 col-form-label">Vorlesung</label>
          <div class="col-sm-10">
            <select class="custom-select" ng-model="form.theorems.lecture_id" ng-change="renderLectureUrl()">
              <option value="{{lecture.id}}" ng-repeat="lecture in newTheoremService.data.lectures">Vorlesung {{lecture.id}}, {{lecture.lecture_date}}</option>
              <!-- <optgroup label="Analysis I"> -->
            </select>
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.lecture.message">{{userFeedback.lecture.message}}</div>
          </div>
        </div>

        <div class="form-group row {{userFeedback.video_position.classLabel}}">
          <label for="new.input.videoPosition" class="col-sm-2 col-form-label">Video Position</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="XXmXXs" ng-model="form.theorems.video_position" ng-change="renderLectureUrl()">
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.video_position.message">{{userFeedback.video_position.message}}</div>
          </div>
          <div class="col-sm-2"></div>
          <iframe style="width:100%; height:400px;" class="col-sm-10 mt-3" src="{{lectureUrl}}" frameborder="0" allowfullscreen ng-hide="!form.theorems.lecture_id"></iframe>
        </div>

        <hr class="mt-5 mb-5">

        <!-- <h3>Voraussetzungen</h3> -->

        <div class="form-group row" ng-show="editMode">
          <label for="new.input.proof.tex" class="col-sm-2 col-form-label">Tex</label>
          <div class="col-lg-5">
            <textarea type="text" class="form-control fill" placeholder="" ng-bind="form.theorems.tex"></textarea> 
          </div>
          <div class="col-lg-5" latex-preview content="form.theorems.tex"></div>
        </div>

        <hr class="mt-5 mb-5" ng-show="editMode">

        <div class="form-group row {{userFeedback.premises.classLabel}}">
          <label for="" class="col-sm-2 col-form-label">Voraussetzungen</label>
          <div class="col-sm-10">
            <element-directive name="Voraussetzung" data="newTheoremService.data.patterns" type="new_and_existing" ng-model="form.premises">
              <div class="">
                <div><small class="text-muted">{{$parent.element.lecture_note_id || ""}}</small> </div>
                <div>{{$parent.element.tex}}</div>
              </div>
            </element-directive>
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.premises.message">{{userFeedback.premises.message}}</div>
          </div>
        </div>

        <hr class="mt-5 mb-5">

        <!-- <h3>Aussagen</h3> -->

        <div class="form-group row {{userFeedback.statements.classLabel}}">
          <label for="" class="col-sm-2 col-form-label">Aussagen</label>
          <div class="col-sm-10">
            <element-directive name="Aussage" data="newTheoremService.data.patterns" type="new_and_existing" ng-model="form.statements">
              <div>{{$parent.element.tex}}</div>
            </element-directive>
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.statements.message">{{userFeedback.statements.message}}</div>
          </div>
        </div>

        <hr class="mt-5 mb-5">

        <div class="form-group row {{userFeedback.premises_to_statements.classLabel}}">
          <label for="inputEmail5" class="col-sm-2 col-form-label">Voraussetzungen zu Aussagen</label>
          <div class="col-sm-7">
            <element-matrix-directive statements="form.statements" premises="form.premises" ng-model="form.premises_to_statements"></element-matrix-directive>
            <div class="form-control-feedback ng-hide" ng-show="userFeedback.premises_to_statements.message">{{userFeedback.premises_to_statements.message}}</div>
          </div>
        </div>

        <hr class="mt-5 mb-5">

        <!-- <h3>Beweis</h3> -->

        <div class="form-group row">
          <label for="new.input.proof.tex" class="col-sm-2 col-form-label">Beweis</label>
          <div class="col-lg-5">
            <textarea type="text" class="form-control fill" placeholder="" ng-model="form.proofs.tex"></textarea> 
          </div>
          <div class="col-lg-5" id="proofPreview" ng-bind="form.proofs.tex"></div>
        </div>

        <div class="form-group row">
          <label for="new.input.proof.idea" class="col-sm-2 col-form-label">Beweisidee</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" placeholder="" ng-model="form.proofs.short"></textarea> 
          </div>
        </div>

        <div class="form-group row">
          <label for="new.input.proof.newLinkedTheorem" class="col-sm-2 col-form-label">Im Beweis verwendete Sätze</label>
          <div class="col-sm-10">
            <element-directive data="newTheoremService.data.theorems" type="existing" hide-add-new-option="true" ng-model="form.proofs_to_theorems">
              <div class="">
                <div><small class="text-muted">{{$parent.element.lecture_note_id}}</small> </div>
                <div>{{$parent.element.name || $parent.element.summary}}</div>
              </div>
            </element-directive>
          </div>
        </div>

        <div class="form-group row">
          <label for="new.input.proof.newLinkedTheorem" class="col-sm-2 col-form-label">Im Beweis verwendete Definitionen</label>
          <div class="col-sm-10">
            <element-directive data="newTheoremService.data.definitions" type="existing" ng-model="form.proofs_to_definitions">
              <div class="">
                <div><small class="text-muted">{{$parent.element.lecture_note_id}}</small> </div>
                <div title="{{$parent.element.name || $parent.element.summary || $parent.element.defines.join(', ')}}">
                  {{$parent.element.name || $parent.element.summary || $parent.element.defines.join(", ")}}
                </div>
              </div>
            </element-directive>
          </div>
        </div>

        <hr class="mt-5 mb-5">

        <div class="form-group row">
          <label for="new.input.proof.newLinkedTheorem" class="col-sm-2 col-form-label">Bemerkungen</label>
          <div class="col-sm-10">
            <element-directive data="newTheoremService.data.theorems" type="new" ng-model="form.notes">
              <div class="">
                <!-- <div><small class="text-muted">{{$parent.element.lecture_note_id}}</small> </div> -->
                <div>{{$parent.element.tex}}</div>
              </div>
            </element-directive>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button class="btn btn-primary btn-inverse btn-{{requestStatus.done?(requestStatus.success?'success':'danger'):'primary'}}" ng-disabled="newTheoremService.isInProgress||editMode" ng-click="create()">
              <span ng-show="editMode">Satz ändern (noch in Entwicklung)</span>
              <span ng-hide="editMode">Satz erstellen</span>
              <i class="fa fa-spinner fa-spin ml-1" aria-hidden="true" ng-hide="!newTheoremService.isInProgress"></i>
              <i class="fa fa-check text-success2" aria-hidden="true" ng-show="requestStatus.done&&requestStatus.success"></i>
              <i class="fa fa-times text-danger2" aria-hidden="true" ng-show="requestStatus.done&&!requestStatus.success"></i>
            </button>
          </div>
        </div>

        <div class="form-group row" ng-show="requestStatus.done&&!requestStatus.success&&requestStatus.userMessage">
          <div class="col-sm-12 text-center">
            <!-- <div class="card card-inverse card-{{requestStatus.success?'success':'danger'}} text-center">
              <div class="card-block">
                <h3 class="text-white">{{requestStatus.userHeading || "Eingabe ist fehlgeschlagen"}}</h3>
                <blockquote class="card-blockquote">
                  <p>{{requestStatus.userMessage}}</p>
                  <footer></footer>
                </blockquote>
              </div>
            </div> -->
            <!-- <hr class="mt-5 mb-5"> -->
            <div class="card card-outline-{{requestStatus.success?'success':'danger'}} text-center">
              <div class="card-block">
                <h3 class="text-{{requestStatus.success?'success':'danger'}}">{{requestStatus.userHeading}}</h3>
                <blockquote class="card-blockquote">
                  <p>{{requestStatus.userMessage}}</p>
                  <footer></footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>


        <!-- <hr class="mt-5 mb-5" ng-show="creationIsInProgress"> -->

        <!-- <div class="form-group row" ng-show="creationIsInProgress">
          <label for="new.input.proof.newLinkedTheorem" class="col-sm-2 col-form-label">Progress</label>
          <div class="col-sm-10">
            <ul class="list-group">
              <li class="list-group-item list-group-item-{{element.success ? 'success' : 'danger'}}"  ng-repeat="(key, element) in newTheoremService.progress">
                <strong>Info {{key}}</strong>. 
                <span>{{element.userText}}</span>
              </li>
            </ul>
          </div>
        </div> -->

      </div>

      <div class="col-md-2"></div>
      
    </div></div>
  </new-theorem>
</main>

<script src="../../lib/jquery/jquery-2.1.0.min.js"></script>
<script src="../../lib/tether/tether.min.js"></script>
<script src="../../lib/boot4/js/bootstrap.min.js"></script>

<!-- <script src="../../lib/jquery/jquery-2.1.0.min.js"></script>
<script src="../../lib/boot/js/bootstrap.min.js"></script> -->

<!-- <script>
// katex render
setInterval(function() {
  console.log("render");
  renderMathInElement(document.body, {
    displayMode: false,
    macros: {
      "\\RR": "\\mathbb{R}"
    },
    delimiters: [
      {left: "$$", right: "$$", display: true},
      {left: "\\[", right: "\\]", display: true},
      {left: "\\(", right: "\\)", display: false}
    ]
  });
}, 500);
</script> -->

</body>
</html>